@import "tailwindcss";

:root {
  --background: #F1F5F9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xsm: 350px;
  --breakpoint-smd: 480px;
  --breakpoint-xxl: 1350px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F1F5F9;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}